@use "variables" as *;
@use "mixins";

.order {
  @include mixins.flex(column);
  gap: 1rem;

  &__field {
    @include mixins.flex(column);
  }

  &__buttons {
    @include mixins.flex(row);
    gap: 1rem;
    font-size: 0.8em;
  }

  &__gap {
    margin: 0.95rem 0;
  }
}